@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Playfair Display", serif;
 
}
@theme{
  --shadow-2px:2px 2px 3px #ffffff94,inset 3px 3px 10px #ffffff39;
  --shadow-h2px:0px 0px 0px #ffffff94,inset 3px 3px 10px #ffffff39;
  --font-poppins:"Poppins",serif;
  --breakpoint-xs: 480px;
      --breakpoint-ss: 620px;
      --breakpoint-sm: 768px;
      --breakpoint-md: 1060px;
      --breakpoint-lg: 1200px;
      --breakpoint-xl: 1700px;
      --color-grayrgba:rgba(255, 255, 255, 0.2);

}
.gradient-after::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.Navlist::after{
  position: absolute;
  content: '';
  top: 10px;
  left: -10px;
  transform: translateX(-50%);
  height: 5px;
  background-color: #fff;
  width: 5px;
  border-radius: 50%;
  transition: .2s;
}
.Navlist:hover:after{
  background-color:#df8033;
}
.features {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #9d7e54;
  border-radius: 25px;
  font-size: 35px;
  line-height: 35px;
  text-align: center;
  font-weight: 600; /* font-semibold */
  font-family: 'Poppins', sans-serif;
  background-color: rgba(157, 126, 84, 0.05);
}
.features:nth-child(2){
  margin-top: 50px;
}